body{
    background-color: #6b5edd;
}



.home-body{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}



p{
    text-align: justify;
    text-justify: inter-word;
}

.como-usar{
    background-color: #6e5ddf;
    color: #ffffff; 
    text-align: center;
}