.nav-items{
    display:flex;
}
h1{
    color: whitesmoke;
    font-style: normal;
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
}
a{
    color: whitesmoke;
}